@font-face {
    font-family: Lexend;
    src:url(/src/font/LexendGiga-VariableFont_wght.ttf);
}

.wrestler-body {
    font-family: Lexend;
}

.link {
    text-decoration: none;
    color: #212427;
}

.searchbar {
    display: flex;
    flex-direction: row;
    background-color: #EF6460;
    justify-content: left;
    align-items: center;
    width: 100%;
    height:fit-content;
    padding-left: 20px;
}

.bar {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: #E5E5E5;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 2px;
    padding-bottom: 2px;
    border-radius: 5px;
}

.searchIcon {
    height:40px;
    padding-right: 10px;
}

.searchInput {
    font-family: Lexend;
    font-size: 20px;
    height: 40px;
    width: 450px;
}

.sort-holder {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: right;
    align-items: center;
    border: none;
    padding-right: 30px;
}

/* Dropdown */
.dropdown {
    background-color: inherit;
    position: relative;
    font-family: Lexend;
    justify-content: center;
    align-items: center;
    height: 50px;
}

.dropdown-wrestler-sort-button {
    background-color:#EF6460;
    border: none;
    cursor:pointer;
    font-family: Lexend;
    font-size: 1rem;
    height:50px;
    width: 150px;
}

.content-box {
    position: absolute;
    background-color: #f9f9f9;
    min-width: 100px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    right:0;
    /* display: none; */
}

#drop {
    display: none;
}

/* Hovering the Content inside Dropdown */
.content-box :hover {
    background-color: #ddd;
}

.querybody {
    width: 100%;
    background-color: antiquewhite;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.wrestlerHolder {
    width:inherit;
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 10px;
    margin-right: 10px;
    margin-left: 10px;
}