@font-face {
    font-family: Lexend;
    src:url(/src/font/LexendGiga-VariableFont_wght.ttf);
}

.body {
    font-family: Lexend;
}

.inner-body {
    width: inherit;
    display: flex;
    flex-direction: row;
    margin-left: 10px;
}

.quickInfo {
    min-width: 300px;
    width: 300px;
    height: 450px;
    border-style: solid;
    border-color: #212427;
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.main-img {
    width: 300px;
    height: 300px;
    background-color: #353739;
}

.nameHolder {
    height: 50px;
    width: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-weight: bold;
    font-size: 20px;
    border-top: solid;
    border-bottom: solid;
    border-color: #212427;
    background-color: #EE534F;
}

.boxHolder {
    height: 48px;
    display: flex;
    flex-direction: row;
    overflow: hidden;
}
.verticalDiv {
    float:left;
    height:100px;
    width:3px; /* edit this if you want */
    background-color: #212427
}