@font-face {
    font-family: Lexend;
    src:url(/src/font/LexendGiga-VariableFont_wght.ttf);
}

.body {
    font-family: Lexend;
}

.inner-body {
    width: inherit;
    display: flex;
    flex-direction: row;
    margin-left: 10px;
}

.quickInfo {
    min-width: 300px;
    height: 450px;
    border-style: solid;
    border-color: #212427;
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.main-img {
    width: 300px;
    height: 300px;
    background-color: #353739;
}

.nameHolder {
    height: 50px;
    width: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-weight: bold;
    font-size: 20px;
    border-top: solid;
    border-bottom: solid;
    border-color: #212427;
    background-color: #EE534F;
}

.boxHolder {
    height: 48px;
    display: flex;
    flex-direction: row;
    overflow: hidden;
}
.verticalDiv {
    float:left;
    height:100px;
    width:3px; /* edit this if you want */
    background-color: #212427
}
.infoBox {
    height: 50px;
    width: 150px;
    justify-content: center;
    align-items: center;
    border-bottom: solid;
    border-color: #212427;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.about {
    width: 300px;
    height: 450px;
    border-style: solid;
    border-color: #212427;
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.boxHeader {
    background-color: #F8BCBA;
    font-size: 2rem;
    margin: 0;
    display: flex;
    justify-content: center;
}

.smallBox {
    width: 300px;
    height: 225px;
    border-style: solid;
    border-color: #212427;
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.anotherHolder {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.linkButton {
    height:fit-content;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-family: Lexend;
    text-decoration: none;
    color: #212427;
    font-size: 13px;
    flex-wrap: wrap;
}
.linkImg {
    height: 50px;
    width: 50px;
}