.homePage {
    font-family: Lexend;
    display: flex;
    flex: row;
    padding-left: 10px;
    padding-right: 10px;
}

@media screen and (max-width:980px) {
    .homePage {
      flex-wrap: wrap;
    }
  }

.page h1 {
    font-size: 1.5rem;
}

.page p {
    font-size: 1rem;
}

.carouselDiv {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
}