@font-face {
    font-family: Lexend;
    src:url(/src/Font/LexendGiga-VariableFont_wght.ttf);
}

.createHolder {
    font-family: Lexend;
    display: flex;
    flex-direction: row;
    justify-content: left;
}

.holderPage {
    display: flex;
    flex-direction: column;
    padding: 5px;
}
.imageSize {
    height:350px;
    width: 350px;
    border: solid;
    background-color: #353739;
}

.inputWidth {
    width: 300px;
    font-family: Lexend;
}

.textAreaSize {
    width: 300px;
    height: 300px;
    font-family: Lexend;
}

.submitButton {
    font-family: Lexend;
    height: 40px;
    width: 50%;
    background-color:#15D29A;;
    border:none;
    border-radius: 5px;
    cursor:pointer;
    bottom: 0;
}

.column-div {
    display: flex;
    flex-direction: column;
}
.header {
    font-size: 1rem;
}
.createWHolder {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}

.rowDiv {
    display: flex;
    flex-direction: column;
    width: 100vw;
    align-items: center;
}

.logoImg {
    width: 20px;
    cursor: pointer;
}

.calendarHeight {
    height: 340px;
}
/* .space {
    height: 10px;
} */
/* 
.holderPage:not(:last-child) {
    margin-right:15px
} */