@font-face {
    font-family: Lexend;
    src:url(/src/Font/LexendGiga-VariableFont_wght.ttf);
}
* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

.nav {
    background-color: #EE534F;
    width: 100%;
    max-width:100vw;
    color: #212427;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
    padding: 0 1rem;
    flex-wrap: wrap;
    padding-bottom: 5px;
}


.nav a {
    color: inherit;
    text-decoration: none;
    display: flex;
    align-items: center;
    font-family: Lexend;
}

.site-name {
    font-size: 3rem;
}

.home-image {
    height: 3rem;
}

.navBarButtons {
    display: flex;
    flex-direction: row;
    height: 100%;
    align-items: center;
    color: #000000;
}
.navBarImage {
    height: 2rem;
}

#transaction_id_1 :nth-child(1) span.css-7no60z-ButtonBase   {
    color: #2e2b2b;
    font-weight: bold;
    font-size: 16px;
}

.margin {
    margin: 5px;
}