.infoDisplayHolder {
    border-style: solid;
    width: 400px;
    max-height: 600px;
    overflow: hidden;
    height: fit-content;
    border-radius: 10px;
    border-color: black;
    padding-bottom: 5px;
}

.infoDisplayTitle {
    text-align: center;
    background-color: #F8BCBA;
    font-size: 30px;
    font-weight: bold;
}

.infoDisplayBody {
    font-size: 15px;
    display: flex;
    align-items: center;
}