.socialMediaHolder {
    border-style: solid;
    width: 300px;
    height: fit-content;
    border-radius: 10px;
    border-color: black;
    overflow: hidden;
    padding-bottom: 5px;
}

.soicalMediaTitle {
    text-align: center;
    background-color: #F8BCBA;
    font-size: 30px;
    font-weight: bold;
}

.socialMediaBody {
    display: flex;
    flex-direction: column;
    font-size: 15px;
}

.socialMediaInfo {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-top: 3px;
    padding-bottom: 3px;
    cursor: pointer;
    width: fit-content;
}

.socialMediaLogo {
    width: 20px;
    margin-left: 5px;
    margin-right: 5px;
}