.itemsHolder {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.carosuelItemName {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    overflow: hidden;
}
.carosuelItemImage {
    height: 250px;
    width: 100%;
    background-color: #353739;
}