.itemsHolder {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #353739;
}
.itemsHolder:hover {
    background-color: #EE534F;
    cursor: pointer;
}

.carosuelItemName {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    overflow: hidden;
}
.carosuelItemImage {
    height: 250px;
    width: 100%;
}