@font-face {
    font-family: Lexend;
    src:url(/src/Font/LexendGiga-VariableFont_wght.ttf);
}
.leftside {
    font-family: Lexend;
    display: flex;
    flex-direction: column;
    min-width: 200px;
    max-width: 250px;
    margin-right: 15px;
}

.names {
    width: 100%;
    background-color: #EF6460;
    border-style: solid;
    margin-bottom: 2px;
    border-radius: 5px;
    text-align: center;
    cursor: pointer;
}

.pfp {
    width: 100%;
    border-style: solid;
    margin-bottom: 2px;
    border-radius: 5px;
    background-color: #353739;
    cursor: pointer;
}

.bio {
    width: 100%;
    min-height: 100px;
    border-style: solid;
    margin-bottom: 2px;
    border-radius: 5px;
    text-align: center;
    background-color: #FDF0EF;
}

.link {
    width: 100%;
    text-decoration: none;
    background-color: #EF6460;
    padding: 5px;
    border-style: solid;
    margin-bottom: 2px;
    border-radius: 5px;
    text-align: center;
}