@font-face {
    font-family: Lexend;
    src:url(/src/Font/LexendGiga-VariableFont_wght.ttf);
}

.userLink {
    height: 50px;
    width: 100%;
    font-family: Lexend;
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
    cursor: pointer;
    padding-left: 5px;
}

.pfpFollowImage {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.followUsername {
    padding-left: 5px;
    font-family: Lexend;
    font-size: 15px;
}

.followClose {
    height: 20px;
    width: 20px;
    padding: 5px;
    border-radius: 5px;
}

.followClose:hover {
    background-color: #D3D3D3;
}

.closeButtonPlacement {
    width: 100%;
    display: flex;
    justify-content: right;
    align-items: center;
    padding-right: 10px;
}