.active-drop-holder {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border: none;
    padding-right: 30px;
    width: 100%;
}

/* Dropdown */
.active-dropdown {
    background-color: inherit;
    position: relative;
    font-family: Lexend;
    justify-content: center;
    align-items: center;
    height: 50px;
    width: 100%;
}

.dropdown-activity-but {
    border: none;
    cursor:pointer;
    font-family: Lexend;
    font-size: 1rem;
    background: none;
    width: 100%;
    display: flex;
    justify-content: space-between;
    box-shadow: 2px 2px 5px 1px rgba(0,0,0,.8);
}

.activity-box {
    position: absolute;
    background-color: #f9f9f9;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    left:0;
    cursor: pointer;
    width: 100%;
    /* display: none; */
}

.activity-option {
    display: flex;
    justify-content: left;
    width: 100%;
}

/* Hovering the Content inside Dropdown */
.activity-box :hover {
    background-color: #ddd;
}

.dd-img {
    height: 15px;
}