@font-face {
    font-family: Lexend;
    src:url(/src/Font/LexendGiga-VariableFont_wght.ttf);
}

.tictactoePage {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#tttCellContainer {
    display: grid;
    grid-template-columns: repeat(3, auto);
    width: 225px;
    margin: auto;
    font-family: Lexend;
    font-size: 2rem;
}

.gameTitle {
    width: 100%;
    font-family: Lexend;
    font-weight: bold;
    font-size: 3rem;
    text-align: center;
}

.cell {
    width: 75px;
    height: 75px;
    border: 2px solid;
    box-shadow: 0 0 0 2px;
    line-height: 75px;
    text-align: center;
    cursor: pointer;
    background-color: transparent;
    font-family: Lexend;
    font-size: 2rem;
}

.statusText {
    height: 3rem;
    width: 100%;
    font-family: Lexend;
    font-size: 1rem;
    text-align: center;
}

#restartButton {
    background-color: transparent;
    border-style: none;
    background-color: #F8BCBA;
    font-family: Lexend;
    font-size: 1rem;
    border-radius: 5px;
    margin-top: 20px;
}
