@font-face {
    font-family: Lexend;
    src:url(/src/Font/LexendGiga-VariableFont_wght.ttf);
}

.divider {
    display: flex;
    flex-direction: row;
    font-family: Lexend;
    height:100vh;
    overflow-y: hidden;
}
.middle {
    overflow-y: scroll;
    min-width: 550px;
    overflow-x: wrap;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.middle::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.middle {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
  }
