.reignDescriptionHolder {
    width: inherit;
    display: flex;
    flex-direction: row;
    min-height: fit-content;
    max-height: 100%;
}

.titleImage {
    width: 50px;
    height: 50px;
    background-color: #353739;
}

.reignInfoHolder {
    display: flex;
    flex-direction: column;
    height: inherit;
    width: 100%;
}

.reignDivider {
    flex-grow: 1;
    display: grid;
    grid-template-columns: 3fr 1fr 1fr 1fr;
    grid-gap: 10px;
}

.div {
    text-align: center;
}
  
    .div:not(:first-child) {
    border-left: 1px solid black;
}